main {
    justify-content: baseline;
    width: 70%;
}

.analyzer-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.analyzer-description {
    text-align: center;
}

.vacancy-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
}

.form-input {
    width: 300px;
}

.option-group {
    width: 300px;
}

/* .analyze-button {
    margin: 30px;
} */

.examples {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 50%;
}

.example-tags {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 71%;
}

.box_with_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.here {
    text-decoration: underline;
}

/* Progress bar styles */
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}