{% extends "base.html" %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message, status in messages %}
                {% if status == 'success' %}
                    <h2 style="color: green;">{{ message|safe }}</h2>
                {% elif status == 'error' %}
                    <h2 style="color: red;">{{ message|safe }}</h2>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}