{% extends "base.html" %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css')}}"> 
{% endblock %}

{% block content %}
<h2 align="center">Добро пожаловать в сервис </br>"Skill parser"!</h2>

<img class="analyzer_img" src="{{ url_for('static', filename='imgs/analyzer.png')}}" alt="Иконка анализатора">

<h3>Что за сервис?</h3>
<p>
    <b>SkillParser</b> — это сервис для автоматического анализа вакансий с 
    hh.ru. Он помогает быстро определить, какие навыки и технологии 
    востребованы в вашей профессии, и сравнить требования разных вакансий.
</p>

<h3>Как это работает?</h3>
    <p>
        Введите название вакансии (например, Python-разработчик или Data Scientist).
        Получите анализ — топ навыков, частотность требований, сравнение с другими профессиями.
        Используйте данные — для подготовки к собеседованию, прокачки резюме или выбора специализации.
    </p>

<h3>Примеры запросов</h3>
    <ul>
        <li>Python-разработчик</li>
        <li>Frontend React</li>
        <li>DevOps инженер</li>
        <li>Аналитик данных</li>
    </ul>

{% endblock %}